.sender {
  background-color: #3b82f6; /* blue-500 */
  color: #ffffff;
}

.receiver {
  background-color: #374151; /* gray-700 */
  color: #f3f4f6; /* gray-100 */
}

.senderTimestamp {
  color: #dbeafe;
}

.receiverTimestamp {
  color: #9ca3af;
}
