.Pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.875rem;
}

.Pagination-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem; /* 8px */
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.Pagination-button:disabled {
  cursor: not-allowed;
}

.Pagination-info {
  margin: 0 1rem;
}
