.widget {
  background-color: var(--color-background-secondary-light);
  border: 1px solid var(--color-border-light);
}

.clickable:hover {
  border-color: var(--color-primary-light);
  box-shadow: var(--shadow-md);
}

.iconWrapper {
  background-color: var(--color-primary-light-transparent);
  color: var(--color-primary-light);
}

.title {
  color: var(--color-text-secondary-light);
}

.value {
  color: var(--color-text-primary-light);
}

.trend {
  color: var(--color-success-light);
}
