.widget {
  background-color: var(--color-background-secondary-dark);
  border: 1px solid var(--color-border-dark);
}

.clickable:hover {
  border-color: var(--color-primary-dark);
  box-shadow: var(--shadow-md-dark);
}

.iconWrapper {
  background-color: var(--color-primary-dark-transparent);
  color: var(--color-primary-dark);
}

.title {
  color: var(--color-text-secondary-dark);
}

.value {
  color: var(--color-text-primary-dark);
}

.trend {
  color: var(--color-success-dark);
}
