.FlaggedFraudList-container--dark {
  background-color: #422c2c;
  border: 1px solid #784a4a;
}

.FlaggedFraudList-title--dark {
  color: #fbb6b6;
}

.FlaggedFraudList--dark th {
  color: #fbb6b6;
  border-bottom: 2px solid #784a4a;
}

.FlaggedFraudList--dark td {
  color: #cbd5e0;
}

.FlaggedFraudList--dark tbody tr {
  border-bottom-color: #784a4a;
}

.FlaggedFraudList--dark tbody tr:last-child {
  border-bottom: none;
}

.FlaggedFraudList--dark tbody tr:hover {
  background-color: #5f3f3f;
}

.FlaggedFraudList-empty--dark {
    color: #a0aec0;
}
