/* CreateProject.common.module.css */

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 80vh;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 1.5rem 1rem 3rem;
  }
}