.wrapper {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas:
    "sidebar topbar"
    "sidebar content";
  height: 100dvh;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid var(--border);
  overflow: hidden auto;
}

.topbar {
  grid-area: topbar;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.content {
  grid-area: content;
  overflow: auto;
}

@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 56px 1fr;
    grid-template-areas:
      "topbar"
      "content";
  }
  .sidebar {
    display: none;
  }
}
