.LineChart-container {
  width: 100%;
  height: auto;
}

.LineChart-svg {
  width: 100%;
  height: 100%;
}

.LineChart-line {
  stroke-width: 2;
}

.LineChart-labels {
  font-size: 10px;
}

.LineChart-label-text {
  text-anchor: middle;
}
