.HowItWorksPage-container--light {
  background-color: #f9fafb;
}

.HowItWorksPage-title--light {
  color: #111827;
}

.HowItWorksPage-subtitle--light {
  color: #4b5563;
}

.HowItWorksPage-section-title--light {
  color: #111827;
}
