.FraudAlertBanner {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}

.FraudAlertBanner-icon svg {
  display: block;
}

.FraudAlertBanner-content {
  flex-grow: 1;
}

.FraudAlertBanner-content strong {
  font-weight: 600;
  display: block;
  margin-bottom: 0.25rem;
}

.FraudAlertBanner-content p {
  margin: 0;
  font-size: 0.9rem;
}
