.Table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: 0.75rem; /* 12px */
}

.Table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.875rem;
}

.Table caption {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
}

.Table th, .Table td {
  padding: 1rem 1.5rem;
  white-space: nowrap;
}

.Table thead {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.Table th {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.Table tbody tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.Table tbody tr:last-child {
  border-bottom: none;
}
