.Dashboard-container--light {
  background-color: #f7fafc;
}

.Dashboard-title--light {
  color: #1a202c;
}

.Dashboard-card--light {
  background-color: #ffffff;
  border-color: #e2e8f0;
}

.Card-title--light {
  color: #4a5568;
}

.Card-description--light {
  color: #718096;
}

.BarChart-bar-wrapper--light {
  background-color: #e2e8f0;
}

.BarChart-label--light, .BarChart-percentage--light {
  color: #4a5568;
}
