.TagInput-container--dark .TagInput-label {
  color: #d1d5db;
}

.TagInput-wrapper--dark {
  border-color: #4b5563;
  background-color: #374151;
}

.TagInput-tag--dark {
  background-color: #4b5563;
  color: #f3f4f6;
}

.TagInput-remove-btn--dark {
  color: #d1d5db;
}

.TagInput-input--dark {
  color: #f3f4f6;
}
